body {
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 28px;
    color: #222;
    background: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
}

.header-menu {
    text-align: right;
    margin: 16px 0 112px;
}

.header-menu a {
    padding-right: 15px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

.header-menu a:hover {
    opacity: .85;
    text-decoration: underline;
}

.logo {
    text-align: center;
    margin-bottom: -17px;
}

.logo-subtext {
    color: #4285f4;
    font-size: 16px;
    right: 637px;
    position: relative;
    top: -31px;
    text-align: right;
}

.form {
    max-width: 534px;
    margin: 0 auto;
}

.search-form {
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
}

.search-form:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.form-container {
    flex: 1;
    display: flex;
}

.icon-search {
    margin: 12px 11px 0px 14px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    position: relative;
}

.search-box {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding-right: 23px;
    margin-top: 5px;
    height: 34px !important;
}

input[type="text"] {
    border: none;
    color: rgba(0,0,0,.87);
    outline: none;
    width: 100%;
    font-size: 16px;
}

.button-container {
    text-align: center;
    margin-top: 18px;
}

input[type="submit"] {
    height: 36px;
    color: #5F6368;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    margin: 11px 4px;
    padding: 0 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

input[type="submit"]:focus {
    border: 1px solid #4d90fe;
    outline: none;
}